* {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 143, 132);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: x-large; */
  /* background-color: #581c1c; */
  width: 200px;
  height: 200px;
  text-align: center;
  border: none;
  margin: 10px;

  font-family: "Permanent Marker", cursive;
  /* font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px; */
}
.card img {
  width: 200px;
  height: 200px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 30px;
}
