* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: brown;
  height: 100vh;
}
.title {
  font-family: "Rubik Puddles", cursive;
  color: blue;
  font-size: 70px;
  background-color: chartreuse;
}
.score-board {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* width: 300px; */
  height: 300px;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 200px; */
  border-color: black;
  border-style: solid;
  border-radius: 30%;
  width: 300px;
  height: 300px;
}
.restart-button {
  width: 100px;
  height: 60px;
  border-radius: 30%;
  background-color: aqua;
  margin-top: 50px;
}

.score-board p {
  font-family: "Permanent Marker", cursive;
}

.container {
  background-color: rgb(99, 74, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1000px;
}

.row {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: rgb(48, 17, 184);
  text-align: center;
  border: none;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
